
<h1>Store <%= @store.name %> </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <h4> Address: <%= @store.address %> </h4>
        <h5> <%== pagy_nav(@pagy) %> </h5>
      </th>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <th scope="row">
          <%=link_to employee.name.capitalize, store_employee_path(@store,employee) %>     
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<%=link_to 'New employee', new_store_employee_url(@store) %>
<%= link_to 'Edit store', edit_store_path(@store) %>
<%= link_to 'Delete store', store_path(@store), data:{
    turbo_method: :delete,
    turbo_confirm: 'Are you sure?'
} %>
